---
import "../styles/global.css";
---

<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title">Canvas_404</slot></title>
  </head>
  <body>
    <slot />
  </body>
</html>



